<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aishwarya Balaji</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

<!-- header + bio pic -->
    <div id="dhead" class="container">
      <div class="row">
        <div id="dpic">
          <img src="../assets/images/profile_pic.png" class="ppic" />
        </div>
        <div id="ddesc">
          <h1>Aishwarya Balaji</h1>
          <p>I'm a CS & Econ student at UPenn (M&T)</p>
          <p>Currently, exploring the realms of CV, DL, AP and Sustainability 🚀</p>
          <div id="dico">
            <a href="https://github.com/aishwaryabsk"><img src="../assets/images/github.svg" class="iico"/></a>
            <a href="https://www.linkedin.com/in/aishbsk/"><img src="../assets/images/linkedin.svg" class="iico" /></a>
          </div>
        </div>
      </div>
    </div>

    <hr>
<!-- experiences -->
    <div class="experiences">
      <ul>
        <li>
          <img src="../assets/images/upenn_logo.jpeg" alt="UPenn's logo">
          <div class="experiences-content">
            <h2>University of Pennsylvania</h2>
            <h4>CIS 2400 Teaching Assistant</h4>
            <p>Hosted Reciation, Office Hours, Midterm Review Sessions for Introduction Computer Architecture at the Unviversity of Pennsylvania</p>
            <span>2023</span>
          </div>
        </li>
        <li>
          <img src="../assets/images/amazon_logo.jpeg" alt="Amazon's logo">
          <div class="experiences-content">
            <h2>Amazon</h2>
            <h4>SDE Intern, Path Planning @ Prime Air </h4>
            <span>2023</span>
          </div>
        </li>
        <li>
          <img src="../assets/images/google_logo.jpeg" alt="Google's logo">
          <div class="experiences-content">
            <h2>Google</h2>
            <h4>CS Research Mentorship Program</h4>
            <span>2022</span>
          </div>
        </li>
        <li>
          <img src="../assets/images/NYCS_Logo.jpeg" alt="National Youth Science Camp's logo">
          <div class="experiences-content">
            <h2>National Youth Science Camp</h2>
            <h4>North Carolina Delegate</h4>
            <span>2021</span>
          </div>
        </li>
        <li>
          <img src="../assets/images/bank_of_america_logo.jpeg" alt="Bank of America's logo">
          <div class="experiences-content">
            <h2>FinTech Focus</h2>
            <h4>FinTech Focus Fellow, Bank of America Cohort</h4>
            <span>2021</span>
          </div>
        </li>
        <li>
          <img src="../assets/images/ncsu_logo.jpeg" alt="North Carolina State University's logo">
          <div class="experiences-content">
            <h2>North Carolina State University</h2>
            <h4>Data Science Research Intern, DST Program</h4>
            <span>2019-2020</span>
          </div>
        </li>
      </ul>
    </div>

<!-- projects -->
<div id="projects" class="container">
  <div class="ctitle">Projects</div>

  <div class="project">
    <div class="pico"><img src="../assets/images/segmentation.png"/></div>
    <div class="pdesc"><a href="https://github.com/aishwaryabsk/segmentation">Tree Carbon Stock Segmentation</a> is DL based project trained on calculating the carbon stock of a Tree advised at GRASP Labs w/ Professor Kumar, Ankit Prabhu + {Find Someone Else} [IN-PROGRESS] </a>.</div>
    <div class="pend"></div>
  </div>

  <div class="project">
    <div class="pico"><img src="../assets/images/anon_twit.png" /></div>
    <div class="pdesc"><a href="https://www.sigmaxi.org/news/news-archive/2023/11/15/student-researchers-awarded-inducted-at-ifore">Unmasking Anonymity</a> is a research project to measureme of Anonymity of an induvidual on the internet</div>
    <div class="pend"></div>
  </div>

  <div class="project">
    <div class="pico"><img src="../assets/images/segmentation.png"/></div>
    <div class="pdesc"><a href="https://github.com/aishwaryabsk/segmentation">Brain Segmentation + Classification Pipeline</a> is a UNET based segmenetation project trained using the Decathelon Dataset</a>.</div>
    <div class="pend"></div>
  </div>

  <div class="project">
    <div class="pico"><img src="../assets/images/segmentation.png"/></div>
    <div class="pdesc"><a href="https://github.com/aishwaryabsk/segmentation">Automated DCF Projector</a> is CV based project trained on calculating the DCF of a Firm using WRDS Data [IN-PROGRESS] </a>.</div>
    <div class="pend"></div>
  </div>
</div>
    <br><br><br><br>
  </body>
</html>